.divCadastro {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

}
.inputCadastro {
    align-self: center;
    font-size: large;
    width: 100%;
    font-size:large;
}
.inputPrecoCadastro{
    align-self: center;
    font-size: large;
    width: 100%;
    font-size:large; 
}
.inputFileCadastro{
    align-self: center;
    font-size: large;
    width: 100%;
    font-size:large;
    color:black;
}
.labelInputGroup{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-content:  center;
    width: 75%;
    align-self: center;

}
.formCadastro {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    height:400px;
    gap: 0.5rem;
    
    /* border: 1px solid black;  */
    border-radius: 10px;
    background-color: rgb(255, 255, 255); 
    /* align-items: center; */
    padding: 1rem; 
}
.formCadastro .labels {
    font-weight: bold;
    color:black
    
}
.h2{
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size:3rem;
}
.submitButton {
    cursor: pointer;
    padding: 10px; 
    width: 35%;
    background-color:white;
    color: #ff3e3e87;
    border-width:20px;
    border: 5px #ff3e3e87 solid;
    border-radius: 10px;    
}
.submitButton:hover {
    background-color: #ff3e3e;
    color: white;
}
.buttonGroup{
    display: flex;
    gap: 10px;
    justify-content: center;

}
.icon{
    scale: 1.5;
}
.textareaCadastro {
    width: 100%;
    height:22px;
    font-size: large;
    resize: none;
}

.selectCadastro {
    width: 90%; 
    font-size: large;
}
