.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    border-bottom: 2px solid rgba(227,228,237,0.37);
    padding: 1rem;
    font-weight: bold;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227,228,237, 0.37);
    position: sticky;
    z-index: 100;
    
}
.navcollapse{
    display:flex;
    flex-direction: row;
    gap:1rem;
}
.dropdownitem{
    color:white;
    background-color: #00000087;
    
}
.navdrop{
    
}
.nav1{
     
}
.a{
    
}
