.container {
  display: flex;
  background-color: white;;
  height: fit-content;
  justify-content: center;
  gap: 30rem;
  align-items: center;

}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.texttitle {
  color: white;
  font-size: 10rem;
  text-align: center;
  font-weight: bold;
  margin: 7.5rem;
}

.texttitle p {
  margin: -7.5rem; 
  color:black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.subtitletext{
  margin: 1rem;
  color: black;
}
.subtitletext p {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  text-align: center;
  margin: -0.5rem;

}
.button{
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}
.img{
  width: 100%;
  width: 30rem;
  
  margin: 1rem;
}
.seconDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}
